{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4"> Application de Test Fonctionnel / PANTHER </h1>
			<p class="lead"> Test Fonctionnel </p>
			<hr class="my-4">
			<p> Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application. </p>
			<a class="btn btn-primary btn-lgz" href="{{ path('security.registration') }}" role="button">Inscription</a>
		</div>

		<div class="recipes">
			<h2 class="mt-4"> CRUD </h2>
			<div class="d-flex justify-content-between">
				{% for recipe in recipes %}
					<div class="card border-primary mb-3" style="max-width: 20rem;">
						<div class="card-header">Recette n°{{ recipe.id }}</div>
						<div class="card-body">
							<h4 class="card-title">
								<a href="{{ path('recipe.show', {id: recipe.id}) }}">{{ recipe.name }}</a>
							</h4>
							<p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
